.navbarItems {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.header_img {
  object-fit: contain;
  width: 30%;
  height: 100px;
}
.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: start;
  margin-left: 2rem;
}
.menu-icon {
  display: none;
}

.navbar-optionThree {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 50px;
}
.item-sidebar {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}

.item-sidebar:hover {
  background-color: cadetblue;
  transition: all 0.2s ease-in-out;
}

.shopping-icon {
  margin-right: 20px;
}

@media (max-width: 570px) {
  .navbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 500px;
    position: absolute;
    top: 80px;
    margin-left: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    text-align: center;
  }
  .nav-menu.active {
    background: hsl(0, 0%, 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .item-sidebar {
    text-align: center;
    padding: 2rem;
    width: 50%;
    display: table;
    padding-left: 20px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    padding-left: 4px;
  }
  .navbar-logo {
    left: 0;
    position: absolute;
    padding-left: 15px;
  }
  .navbar-optionThree {
   
    position: absolute;
    margin-left: 340px;
  }
}
