.navbarItems {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 9%, 45%);
}
.header_img {
  object-fit: contain;
  width: 30%;
  height: 100px;
}
.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
.navbar-optionThree {
  display: flex;
  align-items: center;
  justify-content: start;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: start;
  margin-left: 2rem;
}

.item-sidebar:hover {
  background-color: cadetblue;
  transition: all 0.2s ease-in-out;
}
.menu-icon{
  display: none;
}
.shopping-icon{
  margin-right:20px ;
}
@media(max-width:570px) {
  .navbarItems{
    position: relative;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition:all 0.5s ease ;
  }
  .nav-menu.active{
   left: 0;
   opacity: 1;
   transition: all 0.5s ease;
   z-index: 1;
  }
  .item-sidebar{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .menu-icon{
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 60%);
    font-size: large;
    color: white;
  }
  .navbar-logo{
    left:0;
    position: absolute;
  }
  .navbar-optionThree {
    right: 0;
    position: absolute;
  }
}
