.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid rgb(211, 195, 195);
}
.logo {
  font-size: 30px;
  font-weight: bold;
}
.header_optionOne {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
.nav-menu span {
  padding: 15px;
  text-decoration: none;
}
span:hover {
  background-color: rgb(241, 235, 235);
}
.header_img {
  object-fit: scale-down;
  width: 50px;
  height: 100px;
}
.header_optionTwo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 13%;
 
}
.burger {
  display: none;
}
.menu-bars{
  display:none;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .item-text a{
   text-decoration: none;
   align-items: center;
   font-size: 18px;
   width: 95%;
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: 0px;
    height: 100vh;
    top: 0;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transition: 850ms;
    background-color: cadetblue;
  }
  .nav-menu.active{
    left: 0;
    transition: 350ms;
  }
  .logo {
    margin-right: 40px;
  }
  .header_optionTwo {
    float: right;
    width: 30%;
  }
  .burger {
    display: inline;
  }
  .menu-bars{
    display:inline;
  }
}
